@import url(//fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext);
@import "normalize-css";
@import "bootstrap";

html, body {
    height: 100%;
}

.container-fluid {
    min-height: 100%;

    font-family: 'Roboto', sans-serif;
    background: #fafaff;

    position: relative;

    .row {
        min-height: 100%;

        aside {
            background: #111;
            box-shadow: 1px 0 1px #111;

            min-height: 100%;

            position: absolute;

            .brand {
                color: #888;
                font-size: 1.5em;
                margin-top: 20px;
            }

            nav {
                > ul {
                    margin-top: 2em;
                    color: #ddd;
                    > li {
                        margin-top: 1.2em;
                        .name {
                            font-size: 1.2em;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        article {
            float: right;
            padding: 0 10%;
        }
    }
}